
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite database files
*.db
*.sqlite

# Environment files
.env
.venv/
*.yaml

# VSCode settings
.vscode/

# Python debug logs
*.log

# Pytest cache
.pytest_cache/

# macOS specific
.DS_Store

# Local FastAPI server files
instance/

# plots
plots/

# reports
reports/